*{
    box-sizing: border-box;
}
body{
    font-size: 1.3rem;
    font-family: 'Segoe UI',sans-serif;
    margin: 0;
    padding: 0;
}
.top-bar{
    background-color: rgb(39, 59, 245);
    color: white;
    display: flex;
    align-items: center;
}
.logo{
    margin: 0;
    padding: 0;
    flex-grow: 0;
}
.menu{
    flex-grow: 1;
}
.itemler{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.item a{
    color: white;
    text-decoration: none;
}
.harita{
    padding: 5%;
    display: flex;
    justify-content: center;
}

